################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Migration-among-Domain-driven-desing-architectural-variations/FileContentIndex/f691eb88-f4f8-4854-b6dd-5852a0e9a5e5.vsidx
