<?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <!--add name="Notes" connectionString="server=localhost;UserId=root;Password=password;database=notes;SslMode=Required;"/-->
    <add name="ts" connectionString="server=localhost;UserId=root;Password=281099;database=orders;SslMode=Required;"/>
    <!--add name="Notes" connectionString="server=database-mysql-development-1;UserId=user;Password=pass;database=notes;SslMode=Required;"/-->
  </connectionStrings>
